<p id="notice"><%= notice %></p>
<div class="container" style="text-align:center">
<p>
  <strong>Store:</strong>
  <%= @store_flavor.store %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @store_flavor.flavor %>
</p>

</div>
<%= button_to "Edit", edit_store_flavor_path(@store_flavor), :class => "btn btn-primary", :method => :get %> <br>
<%= button_to "StoreFlavor Home", store_flavors_path, :class => "btn btn-primary", :method => :get %>